.container{
  width: 65%;
  background:#f9fbfd;
  margin: 20px auto 10px auto !important;
  min-height: 100vh;
  box-shadow:inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
  font-size:13px;
  transform: (182px,112px);
}
.ql-toolbar.ql-snow{
  display: flex;
  justify-content: center;
  border: none !important;
  background-color:#EDF2FA;
  border-radius: 24px;
  margin-left: 4px !important;
}